[submodule "ares"]
	path = ares
	url = https://github.com/ares-emulator/ares
[submodule "sameboy"]
	path = sameboy
	url = https://github.com/LIJI32/SameBoy.git
[submodule "mgba"]
	path = mgba
	url = https://github.com/mgba-emu/mgba.git
